Repository mellomaths/petin, pull requests merged in 2024-12, with the labels that each got.

#16 #14 Authenticate :: Validate when a expired token is used
  backend/package.json
  backend/src/application/account/TokenPayload.ts
  backend/src/application/account/usecase/Authenticate.ts
  backend/src/infra/auth/JwtGenerator.ts
  backend/tests/application/account/Authenticate.test.ts
  backend/tests/application/account/CreateProfile.test.ts
  backend/tests/application/account/GetProfile.test.ts
  backend/tests/application/account/ProfileValidator.test.ts
  backend/tests/application/account/Signup.test.ts
  backend/tests/application/pet/CreatePet.test.ts
  backend/tests/application/pet/ListPets.test.ts
  backend/tests/helpers/Fake.ts
  backend/yarn.lock
Labels: bug, backend

#17 #12 CreateProfile :: Validate Brazilian document number (CPF)
  backend/src/application/core/validator/DocumentNumberValidator.ts
  backend/src/application/core/validator/br/BrCnpjValidator.ts
  backend/src/application/core/validator/br/BrCpfValidator.ts
  backend/tests/application/account/ProfileValidator.test.ts
  backend/tests/application/core/validator/DocumentNumberValidator.test.ts
  backend/tests/application/core/validator/br/BrCnpjValidator.test.ts
  backend/tests/application/core/validator/br/BrCpfValidator.test.ts
  backend/tests/helpers/Fake.ts
Labels: backend

#21 #5 SetAccountSettings :: Owners should be able to set specific settings that will determine how the application behaves in some cases
  backend/bruno/petin/Account/Authenticate.bru
  backend/bruno/petin/Account/Preferences/SetPreferences.bru
  backend/bruno/petin/Account/Profile/CreateProfile.bru
  backend/bruno/petin/Account/Profile/GetProfile.bru
  backend/scripts/create_petin.sql
  backend/src/application/account/Preference.ts
  backend/src/application/account/usecase/SetPreferences.ts
  backend/src/application/account/validator/PreferencesValidator.ts
  backend/src/infra/controller/AccountsController.ts
  backend/src/infra/http/ExpressAdapter.ts
  backend/src/infra/repository/account/ProfilesRepository.ts
  backend/src/infra/repository/account/preferences/PostgresPreferencesRepository.ts
  backend/src/infra/repository/account/preferences/PreferencesRepository.ts
  backend/src/infra/repository/account/profile/PostgresProfilesRepository.ts
  backend/src/infra/repository/account/profile/ProfilesRepository.ts
  backend/src/main.ts
  backend/tests/application/account/AccountValidator.test.ts
  backend/tests/application/account/SetPreferences.test.ts
  backend/tests/application/account/validator/AccountValidator.test.ts
  backend/tests/application/account/validator/PreferencesValidator.test.ts
  backend/tests/application/account/validator/ProfileValidator.test.ts
  backend/tests/e2e/SetPreference.e2e.test.ts
Labels: backend

#23 #8 ReportProfile :: People should be able to report a profile
  backend/bruno/petin/Report/CreateReport.bru
  backend/scripts/create_petin.sql
  backend/src/application/core/validator/UuidValidator.ts
  backend/src/application/report/Report.ts
  backend/src/application/report/usecase/CreateReport.ts
  backend/src/application/report/validator/ReportValidator.ts
  backend/src/infra/controller/ReportsController.ts
  backend/src/infra/repository/account/AccountsRepository.ts
  backend/src/infra/repository/pet/PetsRepository.ts
  backend/src/infra/repository/pet/PostgresPetsRepository.ts
  backend/src/infra/repository/report/PostgresReportsRepository.ts
  backend/src/infra/repository/report/ReportsRepository.ts
  backend/src/main.ts
  backend/tests/application/account/CreateProfile.test.ts
  backend/tests/application/pet/CreatePet.test.ts
  backend/tests/application/pet/ListPets.test.ts
  backend/tests/application/report/CreateReport.test.ts
  backend/tests/application/report/ReportValidator.test.ts
  backend/tests/e2e/CreateReport.e2e.test.ts
  backend/tests/helpers/Mock.ts
Labels: backend

#29 #28 HttpModule :: Implement a FastifyAdapter to replace Express
  backend/package.json
  backend/src/infra/http/FastifyAdapter.ts
  backend/src/main.ts
  backend/yarn.lock
Labels: backend

#31 #30 Docker :: Change Docker build to get a better usage of layers
  backend/Dockerfile
Labels: backend, research

#36 Yarn :: Upgrade all packages
  backend/yarn.lock
Labels: backend

#38 #9 ReportProfile :: Alert other systems that a report has been filed
  .github/workflows/main.yml
  Justfile
  README.md
  backend/.env.example
  backend/bruno/petin/HealthCheck.bru
  backend/docker-compose.yml
  backend/package.json
  backend/src/application/event/Event.ts
  backend/src/application/health/HealthCheck.ts
  backend/src/application/health/usecase/HealthCheck.ts
  backend/src/application/report/Report.ts
  backend/src/application/report/usecase/CreateReport.ts
  backend/src/infra/auth/JwtGenerator.ts
  backend/src/infra/controller/HealthCheckController.ts
  backend/src/infra/database/DatabaseConnection.ts
  backend/src/infra/database/Migration.ts
  backend/src/infra/database/PostgresAdapter.ts
  backend/src/infra/database/PostgresMigration.ts
  backend/src/infra/queue/MessageBroker.ts
  backend/src/infra/queue/RabbitMQAdapter.ts
  backend/src/infra/settings/Settings.ts
  backend/src/main.ts
  backend/tests/application/report/CreateReport.test.ts
  backend/tests/config/config.ts
  backend/tests/globals/containers/backend.ts
  backend/tests/globals/containers/compose.ts
  backend/tests/globals/containers/postgres.ts
  backend/tests/globals/containers/rabbitmq.ts
  backend/tests/globals/containers/setup.ts
  backend/tests/globals/migrations/postgres.ts
  backend/tests/helpers/Fake.ts
  backend/yarn.lock
  docker-compose.yml
Labels: backend

#40 #39 CheckZipCode :: Create an endpoint to validate ZipCode
  backend/.env.example
  backend/bruno/petin/@External/Brasil API/CEP.bru
  backend/bruno/petin/@External/Brasil API/CNPJ.bru
  backend/bruno/petin/Account/Profile/CreateProfile.bru
  backend/bruno/petin/Validator/DocumentNumber/CheckDocumentNumber.bru
  backend/bruno/petin/Validator/ZipCode/CheckZipCode.bru
  backend/docker-compose.yml
  backend/scripts/create_petin.sql
  backend/src/application/account/DocumentNumberCheck.ts
  backend/src/application/account/Profile.ts
  backend/src/application/account/ZipCodeCheck.ts
  backend/src/application/account/usecase/CheckDocumentNumber.ts
  backend/src/application/account/usecase/CheckZipCode.ts
  backend/src/application/account/usecase/CreateProfile.ts
  backend/src/application/account/validator/DocumentNumberCheckValidator.ts
  backend/src/application/account/validator/ProfileValidator.ts
  backend/src/application/account/validator/ZipCodeCheckValidator.ts
  backend/src/application/core/validator/DocumentNumberValidator.ts
  backend/src/application/core/validator/ZipCodeValidator.ts
  backend/src/infra/api/gov/br/BrDocumentNumberApi.ts
  backend/src/infra/api/gov/br/BrZipCodeApi.ts
  backend/src/infra/api/gov/br/BrasilApi.ts
  backend/src/infra/controller/ValidatorController.ts
  backend/src/infra/http/FastifyAdapter.ts
  backend/src/infra/repository/account/profile/PostgresProfilesRepository.ts
  backend/src/infra/repository/pet/PostgresPetsRepository.ts
  backend/src/infra/settings/Settings.ts
  backend/src/main.ts
  backend/tests/application/account/CheckDocumentNumber.test.ts
  backend/tests/application/account/CheckZipCode.test.ts
  backend/tests/application/account/CreateProfile.test.ts
  backend/tests/application/account/validator/DocumentNumberCheckValidator.test.ts
  backend/tests/application/account/validator/ProfileValidator.test.ts
  backend/tests/application/account/validator/ZipCodeCheckValidator.test.ts
  backend/tests/application/core/validator/DocumentNumberValidator.test.ts
  backend/tests/e2e/CheckDocumentNumber.e2e.test.ts
  backend/tests/e2e/CheckZipCode.e2e.test.ts
  backend/tests/e2e/CreatePet.e2e.test.ts
  backend/tests/e2e/GetProfile.e2e.test.ts
  backend/tests/helpers/Fake.ts
Labels: backend
